%h3= @work
.row
  .span3= image_tag @work.image
  .span7
    = "Название работы: #{@work}"
    %br
    = "ФИО: #{User.find(@work.user_id)}"
    %br
    = "Регион: #{Region.find(@work.region_id)}"
    %br
    = "Тур: #{Tour.find(@work.tour_id)}"
    %br
    != @work.description

= render template:'comments/index' , work: @work, post: @post