.row
  .span3
    .well.well-small
      %ul.nav.nav-pills.nav-stacked
        %li.nav-header= resource_competition
        - @work_nominations.each do |wn|
          = item :li, wn, competition_work_nomination_path(@competition, wn)
  .span9
    %h3= @work_nomination
    %ul.thumbnails
      - @work_nomination.works.each do |work|
        %li.span3
          .thumbnail
            -#= image_tag work.avatar.thumb.url
            .caption
              = "Название работы:" 
              = link_to work, work_path(work)
              %br
              = "ФИО: #{User.find(work.user_id)}"
              %br
              = "Регион: #{Region.find(work.region_id)}"
              %br
              = "Тур: #{Tour.find(work.tour_id)}"
              - if current_user.can_ban?(work)
                %br
                = link_to plagiat_detailing_competition_work_nomination_path(work),
                  method: :put,
                  title:  'Пожаловаться на плагиат',
                  class: 'btn btn-mini' do
                  %i.icon-bell
              - else
                %br
                = link_to remove_plagiat_competition_work_nomination_path(work),
                  method: :put,
                  title:  'Удалить жалобу',
                  class: 'btn btn-mini btn-danger' do
                  %i.icon-remove-circle
                = link_to edit_plagiat_competition_work_nomination_path(work),
                  method: :put,
                  title:  'Редактировать жалобу',
                  class: 'btn btn-mini ' do
                  %i.icon-pencil

-#= paginate @works
    
-#= paginate @work_nominations
