= simple_form_for @competition, url: url do |f|
  - if @competition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@competition.errors.count, "error")} prohibited this competition from being saved:"
      %ul
        - @competition.errors.full_messages.each do |msg|
          %li= msg
  .tab-content
    .tab-pane.active
      = f.input :year, as: :competition_year, include_blank: false, input_html: { class: 'input-medium' }
      = f.input :state_event, as: :state_event
  .form-actions
    = f.button :submit, t('.submit'), class: 'btn btn-primary'
    = link_to t('.cancel'), competitions_path, class: 'btn'
    - if @competition.can_destroy?
      = link_to t('.delete'), competition_path(@competition), method: :delete, class: 'btn btn-danger pull-right',
        data: { confirm: t('.delete_confirm') }
