= simple_form_for @completition, :url => url, :html => { :class => 'default_class' } do |f|
  -#= f.input :state_event, as: :state_event, wrapper: :state
  = f.input :name
  = f.input :year
  = f.association :tour_id
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_completitions_path, :class => 'btn'
