= link_to t('.new'), new_admin_completition_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :id
      %th= sort_link @q, :name
      %th= sort_link @q, :tour_id
      %th= sort_link @q, :year
      %th= sort_link @q, :state
      %th
  %tbody
    - @completitions.each do |item|
      %tr
        %td= item.id
        %td= item.name
        %td= Tour.find(item.tour_id)
        %td= item.year
        %td= item.human_state_name
        %td
          .pull-right.btn-group
            = link_to edit_admin_completition_path(item), :class => 'btn btn-mini' do
              %i.icon-pencil
            = link_to admin_completition_path(item), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-mini btn-danger' do
              %i.icon-trash

= paginate @completitions
