= stylesheet_link_tag "bootstrap"
= stylesheet_link_tag "bootstrap-responsive.min"
%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300", :rel => "stylesheet"}/
= stylesheet_link_tag "ace"
= stylesheet_link_tag "ace-responsive.min"
= stylesheet_link_tag "application"