= simple_form_for @tour, :url => url, :html => { :class => 'default_class' } do |f|
  = f.input :state_event, as: :state_event, wrapper: :state
  = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_tours_path, :class => 'btn'
