= simple_form_for @estimation, url: url, :html => { class: 'default_class' } do |f|
  = f.input :content
  = f.input :decoration
  = f.input :technology_usage
  .form-actions
    = f.button :submit, value: 'Оценить', class: 'btn btn-primary'
    = link_to "Перейти в корзину", expert_works_path, class: 'btn'
