-#%li= link_to "Админка", admin_root_path
%li= link_to t('.work_nominations'), admin_work_nominations_path
%li= link_to t('.works'), admin_works_path
%li= link_to t('.regions'), admin_regions_path
%li= link_to t('.competitions'), admin_competitions_path
%li= link_to t('.tours'), admin_tours_path
%li= link_to t('.users'), admin_users_path
%li= link_to t('.menu'), admin_menu_items_path
