%h4= t(".comments")
.row
  .span10
    -@comments.try(:each) do |comment|
      .row
        .span6
          = "#{comment.user.last_name} #{comment.user.first_name}"
        .span4
          = comment.updated_at
      .row
        .span10
          = comment.body
  .span10
    %h4= "Оставьте комментарий"
  .span10
    -if current_user
      =render 'posts/form', work: @work, comments: @comments
    -else
      %h6= "Чтобы оставить комментарий - войдите в систему"
