%ul.nav.nav-tabs 
  -@competition.tours.each_with_index do |tour, index|
    %li{class: "#{"active" if index == 0}"}= link_to "#{tour.name} #{t '.tour'}", "#{tour.name}", {data: {toggle: 'tab'}}
.tab-content
  - @competition.tours.each_with_index do |tour, index|
    .tab-pane{class: "#{"active" if index == 0}", id: "#{tour.name}"}
      %table.table.table-striped
        %thead
          %tr
            %th= Work.human_attribute_name :id
            %th= Work.human_attribute_name :name
            %th= Work.human_attribute_name :image
            %th= Work.human_attribute_name :region_id
            %th= Work.human_attribute_name :user_id
            %th
        %tbody
          - tour.works.each do |item|
            %tr
              %td= item.id
              %td= item.name
              %td= item.image
              %td= Region.find(item.region_id)
              %td= User.find(item.user_id)
              %td
                .pull-right.btn-group

