!!! 5
%html(lang="ru")
  = render 'layouts/web/shared/head'
  %body
    = render 'layouts/web/shared/navbar'
    .container
      .content
        = render_breadcrumbs
        = bootstrap_flash
        = yield

      = render 'layouts/web/shared/partners'
      %hr
      = render 'layouts/web/shared/footer'
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
