!!! 5
%html(lang="ru")
  = render 'layouts/web/shared/head'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") Masterit
          .container.nav-collapse
            %ul.nav.pull-right

              - if user_signed_in?
                - if current_user.role? :admin
                  -#%li= link_to "Админка", admin_root_path
                  %li= link_to :work_nominations, admin_work_nominations_path
                  %li= link_to :works, admin_works_path
                  %li= link_to :regions, admin_regions_path
                  %li= link_to :competitions, admin_completitions_path
                  %li= link_to :tours, admin_tours_path
                  %li= link_to :users, admin_users_path
                  
                %li= link_to "#{current_user.email}", user_path(current_user)
                %li= link_to "Выход", destroy_user_session_path, :method => :delete
              - else
                %li= link_to "Вход", new_user_session_path


    .container
      .content
        = bootstrap_flash
        = yield


      = render 'layouts/web/shared/footer'
